							<div class="ui divider"></div>
							<label class="item"><input type="radio" name="status_filter[is_spam_user]" value="1"> {{ctx.Locale.Tr "admin.users.list_status_filter.is_spam_user"}}</label>
