					<div class="inline field">
						<label>.gitignore</label>
						<div class="ui multiple search selection dropdown">
							<input type="hidden" name="gitignores" value="{{.gitignores}}">
							<div class="default text">{{ctx.Locale.Tr "repo.repo_gitignore_helper"}}</div>
							<div class="menu">
								{{range .Gitignores}}
									<div class="item" data-value="{{.}}">{{.}}</div>
								{{end}}
							</div>
						</div>
						<span class="help">{{ctx.Locale.Tr "repo.repo_gitignore_helper_desc"}}</span>
					</div>
					<div class="inline field">
						<label>{{ctx.Locale.Tr "repo.license"}}</label>
						<span><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_new">Creative Commons Attribution-ShareAlike 4.0 International License</a></span>
						<input type="hidden" id="license" name="license" value="CC-BY-SA-4.0.md">
					</div>
