<a class="item" href="{{AppSubUrl}}/about#stats">
	{{svg "octicon-graph"}}
	Usage Stats
</a>
<a class="item" href="{{AppSubUrl}}/about#help">
	{{svg "octicon-question"}}
	{{ctx.Locale.Tr "help"}}
</a>
<a class="item" href="{{AppSubUrl}}/api/swagger">
	{{svg "octicon-code"}}
	API
</a>
