								<a class="flex-text-inline" href="{{Door43PreviewURL}}/u/{{PathEscapeSegments .Repo.OwnerName}}/{{PathEscapeSegments .Repo.Name}}/{{PathEscapeSegments .TagName}}{{if eq AppUrl "https://qa.door43.org/"}}?server=QA{{end}}{{if eq AppUrl "https://develop.door43.org/"}}?server=DEV{{end}}" target="_blank" rel="nofollow noopener">{{svg "octicon-book" 16 "tw-mr-2"}}{{ctx.Locale.Tr "preview"}} / PDF</a>
