									{{if and .Repo.RepoDM (eq .Repo.RepoDM.Subject "Aligned Bible")}}
									<a class="archive-link flex-text-inline" href="#" onclick="window.downloadUnalignedUSFM('{{.Repo.OwnerName | PathEscapeSegments}}', '{{.Repo.Name | PathEscapeSegments .Repo.Name}}', '{{.TagName | PathEscapeSegments}}'); return false;" rel="nofollow">{{svg "octicon-file-zip" 16 "tw-mr-1"}}USFM (ZIP)</a>
									{{end}}
