									{{if and .Repo.RepoDM (eq .Repo.RepoDM.Subject "Aligned Bible")}}
									<a class="archive-link flex-text-inline dcs-usfm-download" href="#" data-owner="{{.Repo.OwnerName | PathEscapeSegments}}" data-repo="{{.Repo.Name | PathEscapeSegments}}" data-ref="{{.TagName | PathEscapeSegments}}" rel="nofollow">{{svg "octicon-file-zip" 16 "tw-mr-1"}}USFM (ZIP)</a>
									{{end}}
