			<span id="expand-view-button" class="btn-octicon" data-tooltip-content="{{ctx.Locale.Tr "repo.expand_view"}}">{{svg "octicon-screen-full" 16 "icon file-view-expand-full"}}{{svg "octicon-screen-normal" 16 "icon file-view-expand-normal tw-hidden"}}</span>
