{{if and .Door43Metadata .Door43Metadata.Healthcheck}}
	{{range $issueCode := .Door43Metadata.Healthcheck.GetOrder}}
		{{$issues := index $.Door43Metadata.Healthcheck.Issues $issueCode}}							
		<div class="ui item">
			<div class="toggle show-panel" data-panel="#{{$issueCode}}">
			{{if not $issues}}
				<span style="color: green;">{{svg "octicon-check-circle-fill" 16}}</span>
			{{else}}
				{{if eq ((index $issues 0).SeverityLevel) 0}}
					<span style="color: red;">{{svg "octicon-x-circle-fill" 16}}</span>
				{{else if eq ((index $issues 0).SeverityLevel) 1}}
					<span style="color: orange;">{{svg "octicon-stop" 16}}</span>
				{{else if eq ((index $issues 0).SeverityLevel) 2}}
					<span style="color: blue;">{{svg "octicon-info" 16}}</span>
				{{end}}
			{{end}}
			{{$issueCode.IssuePositiveString}}
			</div>
			{{if $issues}}
				<div class="ui list gt-hidden" id="{{$issueCode}}">
					{{range $issue := $issues}}
						<div class="status-item {{$issue.SeverityLevel}}">
							<div class="item-text">
								{{RenderMarkdownToHtml $.Contenxt $issue.Details}}
							</div>
							<div class="item-text">
								{{RenderMarkdownToHtml $.Context $issue.Suggestion}}
							</div>
						</div>
					{{end}}
				</div>
			{{end}}
		</div>
	{{end}}
{{end}}
