{{$dm := .Door43Metadata}}
{{if .Door43Metadata}}
	{{$healthcheck := .Door43Metadata.Healthcheck}}
	{{if $healthcheck}}
	<div class="ui list dcs-item-list">
	{{range $issueCode := $healthcheck.GetOrder}}
		{{$issues := index $healthcheck.Issues $issueCode}}
		<div class="ui item">
			{{if $issues}}
				<button type="button" class="btn flex-text-inline toggle show-panel" data-panel="#{{$issueCode}}-{{$dm.ID}}">
					{{if eq ((index $issues 0).SeverityLevel.String) "error"}}
						{{svg "octicon-shield-x" 16 "tw-text-red"}}
					{{else if eq ((index $issues 0).SeverityLevel.String) "warning"}}
						{{svg "octicon-shield" 16 "tw-text-orange"}}
					{{else if eq ((index $issues 0).SeverityLevel.String) "info"}}
						{{svg "octicon-shield-lock" 16 "tw-text-blue"}}
					{{end}}
					{{$issueCode.IssuePositiveString}}
				</button>
				<div class="ui list tw-hidden" id="{{$issueCode}}-{{$dm.ID}}">
					{{range $issue := $issues}}
						<div class="status-item {{$issue.SeverityLevel}}">
							<div class="item-text">
								{{ctx.RenderUtils.MarkdownToHtml $issue.Details}}
							</div>
							{{if eq $.Door43Metadata.RefType "branch"}}
								<div class="item-text">
									{{ctx.RenderUtils.MarkdownToHtml $issue.Suggestion}}
								</div>
							{{end}}
						</div>
					{{end}}
				</div>
			{{else}}
				<div class="flex-text-inline">
					{{svg "octicon-shield-check" 16 "tw-text-green"}}
					{{$issueCode.IssuePositiveString}}
				</div>
			{{end}}
		</div>
	{{end}}
	</div>
	{{end}}
{{end}}
