{{template "base/head" .}}
<style>
	.status-item {
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			border: 2px solid;
	}
	.status-item.error {
			background-color: #ffcccc; /* Light red background */
			border-color: #cc0000; /* Dark red border */
	}
	.status-item.warning {
			background-color: #ffebcc; /* Light orange background */
			border-color: #cc7a00; /* Dark orange border */
	}
	.status-item.info {
			background-color: #cce5ff; /* Light blue background */
			border-color: #004085; /* Dark blue border */
	}
	.status-item.success {
			background-color: #d4edda; /* Light green background */
			border-color: #155724; /* Dark green border */
	}

	.item-text {
			padding-left: 20px;
			margin-top: 10px;
	}
</style>
<div role="main" aria-label="{{.Title}}" class="page-content repository settings">
	{{template "repo/header" .}}
	{{template "base/alert" .}}
	<div class="ui container">
		<a href="healthcheck" class="ui back link">
			{{svg "octicon-arrow-left" 16}}
			Back to Health Check Page
		</a>
		<h2 class="ui top attached header">
			{{ctx.Locale.Tr "dcs.repo.metadata.metadata"}}
			{{if .Permission.IsAdmin}}
			<div class="ui right">
				<a class="ui teal tiny button" href="{{.Link}}/update">Update Metadata</a>
			</div>
			{{end}}
		</h2>
		<div class="ui attached segment">
			{{if or .BranchDMs .ReleaseDMs}}
				<h3 class="ui top attached header toggle show-panel" data-panel="#branches">{{ctx.Locale.Tr "repo.branches"}}</h3>
				<div class="ui attached segment tw-hidden" id="branches">
					{{template "repo/dcs_metadata_list" (dict "ctxData" . "Door43Metadatas" .BranchDMs)}}
				</div>
				<h3 class="ui top attached header toggle show-panel" data-panel="#releases">Releases</h3>
				<div class="ui attached segment tw-hidden" id="releases">
					{{template "repo/dcs_metadata_list" (dict "ctxData" . "Door43Metadatas" .ReleaseDMs)}}
				</div>
			{{else}}
				<span>
					No Metadata for this Repository. Click&nbsp;<a href="{{.Link}}/update">update</a>&nbsp;to scan the repo.
				</span>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
