{{$errors := ""}}

{{if StringHasSuffix $.file.Name ".yaml"}}
	{{$errors = ValidateYAMLFile $.file}}
	{{if and (eq $errors "") (eq $.file.Name "manifest.yaml")}}
		{{$errors = ValidateManifestFile $.file}}
	{{end}}
{{else if StringHasSuffix $.file.Name ".json"}}
	{{$errors = ValidateJSONFile $.file}}
{{end}}

{{if or (ne $errors "") (eq $.file.Name "manifest.yaml")}}
	<div class="ui label {{if eq $errors ""}}green{{else}}red{{end}} validation-message-trigger" style="margin-left: 5px">
		{{if eq $errors ""}}{{$.root.i18n.Tr "repo.metadata.valid"}}{{else}}{{$.root.i18n.Tr "repo.metadata.invalid"}} {{svg "octicon-info"}}{{end}}
	</div>

	{{if ne $errors ""}}
	<div class="ui popup very wide validation-message">
		<pre>{{$errors}}</pre>
	</div>
	{{else if eq $.file.Name "manifest.yaml"}}
	<div class="ui popup very wide validation-message">
		{{$.root.i18n.Tr "repo.metadata.valid_manifest_tooltip"}}
	</div>
	{{end}}
{{end}}
