{{$errors := ""}}
{{$showValidationBadge := false}}

{{if StringHasSuffix $.file.Name ".yaml"}}
	{{$errors = ValidateYAMLFile $.file}}
	{{if $errors}}
		{{$showValidationBadge = true}}
	{{else if and (eq $errors "") (eq $.file.Name $.root.Repository.RepoDM.GetMetadataFilename) (eq $.root.Repository.RepoDM.MetadataType "rc")}}
		{{$showValidationBadge = true}}
		{{$errors = ValidateManifestFileAsHTML $.file}}
	{{end}}
{{else if StringHasSuffix $.file.Name ".json"}}
	{{$errors = ValidateJSONFile $.file}}
	{{if $errors}}
		{{$showValidationBadge = true}}
	{{else if and (eq $errors "") (eq $.file.Name $.root.Repository.RepoDM.GetMetadataFilename) (eq $.root.Repository.RepoDM.MetadataType "sb")}}
		{{$showValidationBadge = true}}
		{{$errors = ValidateMetadataFileAsHTML $.file}}
	{{end}}
{{end}}

{{if $showValidationBadge}}
	<div class="ui label {{if eq $errors ""}}green{{else}}red{{end}} validation-message-badge" style="margin-left: 5px">
		{{if eq $errors ""}}
			{{ctx.Locale.Tr "repo.metadata.valid"}}
		{{else}}
			{{ctx.Locale.Tr "repo.metadata.invalid"}} {{svg "octicon-info"}}
		{{end}}
		<div class="validation-message-tooltip" style="display: none">
			{{if $errors}}{{$errors}}{{else}}{{ctx.Locale.Tr "repo.metadata.valid_metadata_tooltip" $.file.Name}}{{end}}
		</div>
	</div>
{{end}}
