<a class="item {{if .PageIsCatalog}}active{{end}}" href="{{AppSubUrl}}/catalog">{{ctx.Locale.Tr "catalog"}}</a>
<a class="item {{if .PageIsAbout}}active{{end}}" href="{{AppSubUrl}}/about" rel="noreferrer">About DCS</a>
<a class="item" href="http://ufw.io/team43" target="_blank" rel="noreferrer">#helpdesk</a>
<a class="item" href="/api/swagger" target="_blank" rel="noreferrer">API</a>
