<a class="item {{if .PageIsCatalog}}active{{end}}" href="{{AppSubUrl}}/catalog">{{.i18n.Tr "catalog"}}</a>
<a class="item {{if .PageIsAbout}}active{{end}}" href="{{AppSubUrl}}/about" rel="noreferrer">About DCS</a>
<a class="item" href="http://ufw.io/team43" rel="noreferrer">{{.i18n.Tr "help"}}</a>