<a class="item {{if .PageIsCatalog}}active{{end}}" href="{{AppSubUrl}}/catalog">{{.locale.Tr "catalog"}}</a>
<a class="item {{if .PageIsAbout}}active{{end}}" href="{{AppSubUrl}}/about" rel="noreferrer">About DCS</a>
<a class="item {{if .PageIsTools}}active{{end}}" href="{{AppSubUrl}}/tools" rel="noreferrer">Tools</a>
