{{$healthSeverity := $.RepoDM.HealthcheckSeverity.String}}
{{$healthSeverityLabel := $healthSeverity}}
{{$healthColor := "var(--color-text-light-1)"}}
{{$healthIcon := "octicon-shield-slash"}}
{{if eq $healthSeverity "success"}}
	{{$healthColor = "green"}}
	{{$healthIcon = "octicon-shield-check"}}
{{else if eq $healthSeverity "error"}}
	{{$healthColor = "red"}}
	{{$healthIcon = "octicon-shield-x"}}
{{else if eq $healthSeverity "warning"}}
	{{$healthColor = "orange"}}
	{{$healthIcon = "octicon-shield"}}
{{else if eq $healthSeverity "info"}}
	{{$healthColor = "#0077cc"}}
	{{$healthIcon = "octicon-shield-lock"}}
{{end}}
{{if eq $healthSeverityLabel ""}}
	{{$healthSeverityLabel = "unknown"}}
{{end}}
<a class="{{if .PageIsMetadata}}active{{end}} item js-healthcheck-badge"
	href="{{.RepoLink}}/healthcheck"
	data-tooltip-content="Healthcheck: {{$healthSeverityLabel}}"
	data-hc-owner="{{.Repository.OwnerName}}"
	data-hc-repo="{{.Repository.Name}}"
	data-hc-ref="{{$.RepoDM.Ref}}"
>
	<span class="svg" style="color: {{$healthColor}}">{{svg $healthIcon 16}}</span>
	{{ctx.Locale.Tr "dcs.repo.metadata.healthcheck"}}
</a>
{{$refToPreview := .Repository.DefaultBranch}}
{{if or $.RefFullName.IsTag $.RefFullName.IsBranch}}
	{{$refToPreview = .RefFullName.ShortName}}
{{end}}
{{if $.RepoDM.ID}}
	<a class="item" data-tooltip-content="Preview.Door43.org" href="{{Door43PreviewURL}}/u/{{.Owner.Name}}/{{.Repository.Name}}/{{$refToPreview | PathEscapeSegments}}{{if eq AppUrl "https://qa.door43.org/"}}?server=QA{{end}}{{if eq AppUrl "https://develop.door43.org/"}}?server=DEV{{end}}"  target="_blank" rel="nofollow noopener">
		{{svg "octicon-book"}} {{ctx.Locale.Tr "preview"}} / PDF
	</a>
{{end}}