<a class="{{if .PageIsMetadata}}active{{end}} item" href="{{.RepoLink}}/healthcheck">
  {{$color := "inherit"}}
	{{$icon := "octicon-shield-slash"}}
	{{if eq $.RepoDM.HealthcheckSeverity.String "error"}}
		{{$color = "red"}}
		{{$icon = "octicon-shield-x"}}
	{{else if eq $.RepoDM.HealthcheckSeverity.String "warning"}}
		{{$color = "octicon-shield"}}
	{{else if eq $.RepoDM.HealthcheckSeverity.String "info"}}
		{{$color = "octicon-shield-lock"}}
	{{else if eq $.RepoDM.HealthcheckSeverity.String "success"}}
		{{$color = "green"}}
		{{$icon = "octicon-shield-check"}}
	{{end}}
	<span style="color: {{$color}}">{{svg $icon 16}}</span>
	{{ctx.Locale.Tr "repo.metadata.healthcheck"}}
</a>
{{$refToPreview := .Repository.DefaultBranch}}
{{$refType := "branch"}}
{{if .IsViewTag}}
	{{$refType = "tag"}}
	{{$refToPreview = .TagName}}
{{else if .IsViewBranch}}
	{{$refToPreview = .BranchName}}
{{end}}
{{if $.RepoDM.ID}}
<a class="item" data-tooltip-content="Preview.Door43.org" target="_blank" href="{{Door43PreviewURL}}/u/{{.Owner.Name}}/{{.Repository.Name}}/{{$refToPreview | PathEscapeSegments}}{{if eq AppUrl "https://qa.door43.org/"}}?server=QA{{end}}{{if eq AppUrl "https://develop.door43.org/"}}?server=DEV{{end}}">
	{{svg "octicon-book"}} {{ctx.Locale.Tr "preview"}} / PDF
</a>
{{end}}