{{template "base/head" .}}
<div class="repository hashtags">
	<div class="ui container">
		<h1>{{ .Title }}</h1>
		<ul>
			{{ range .Tags }}
			<li><a href="{{ AppSubUrl }}{{ $.RepoLink }}/hashtags/{{ .tag_name|QueryEscape }}">{{ .tag_name }}</a> [{{ .count_of_occurrences }}]</li>
			{{end}}
		</ul>
	</div>
</div>
{{template "base/footer" .}}
