<i id="info-icon" class="fa fa-question-circle-o" title="_ for any character, % for any # of characters. Use \_ and \% to search for _ and %" style="margin-top:5px;margin-left:5px;font-size:2em;"></i>

<script>
$(document).ready(function() {
 	var icon = $('#info-icon');
 	console.log(icon);
 	var rightPos = icon.parent.find('button').width() + 20;
 	console.log(rightPos);
	icon.css('position', 'absolute').css('right', rightPos);
});
</script>
