@door43-logo-size: 20px;

.no-padding-button {
    padding: 0px !important;
}

.door43-logo {
    height: @door43-logo-size;
    width: @door43-logo-size;
    margin-top: -@door43-logo-size/2;
    margin-bottom: -@door43-logo-size / 2;
    vertical-align: middle;
}
