{{template "base/head" .}}
<div class="repository release">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<h2 class="ui header">
			{{.i18n.Tr "repo.metadata.metadatas"}}
			{{if .CanCreateMetadata}}
				<div class="ui right">
					<a class="ui small green button" href="{{$.RepoLink}}/metadatas/new">
						{{.i18n.Tr "repo.metadata.new_metadata"}}
					</a>
				</div>
			{{end}}
		</h2>
		<ul id="metadata-list">
			{{range $idx, $metadata := .Door43Metadatas}}
				{{$tagName := .Repo.DefaultBranch}}
				{{if .Release}}
					{{$tagName = .Release.TagName }}
				{{end}}
				<li class="ui grid">
					<div class="ui four wide column meta">
						<span class="tag text blue">
							<a href="{{$.RepoLink}}/release/tag/{{$tagName | EscapePound}}" rel="nofollow">{{svg "octicon-tag" 16}} {{$tagName}}</a>
						</span>
						<span class="release">
						{{if .Release}}
							<a href="{{$.RepoLink}}/release/tag/{{$tagName | EscapePound}}" rel="nofollow"><i class="tag icon"></i>  {{$tagName}}</a>
						{{else}}
							<a href="{{$.RepoLink}}/src/branch/{{.Repo.DefaultBranch | EscapePound}}" rel="nofollow"><i class="branch icon"></i> {{.Repo.DefaultBranch}}</a>
						{{end}}
						</span>
					</div>
				</li>
			{{end}}
		</ul>
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
