{{template "base/head" .}}
<div class="repository new release">
	{{template "repo/header" .}}
	<div class="ui container">
		<h2 class="ui dividing header">
			{{if .PageIsEditMetadata}}
				{{.i18n.Tr "repo.metadata.edit_metadata"}}
			{{else}}
				{{.i18n.Tr "repo.metadata.new_metadata"}}
			{{end}}
		</h2>
		{{template "base/alert" .}}
		<form class="ui form stackable grid" action="{{.Link}}" method="post">
			{{.CsrfTokenHtml}}
			<div class="ui seven wide column target">
				<div class="inline field {{if .Err_TagName}}error{{end}}">
					{{if .PageIsEditMetadata}}
						<b>{{.tag_name}}</b>
					{{else}}
						<div class="ui selection dropdown">
							<input type="hidden" name="tag_name" value="{{.tag_name}}"/>
							{{svg "octicon-git-tag" 16}}
							<div class="text">
								{{.i18n.Tr "repo.metadata.tag_name"}} :
								<strong id="repo-branch-current">{{.tag_name}}</strong>
							</div>
							<i class="dropdown icon"></i>
							<div class="menu">
								{{range .Releases}}
									<div class="item" data-value="{{.TagName}}">{{.TagName}}</div>
								{{end}}
							</div>
						</div>
					{{end}}
				</div>
			</div>
			<div class="eleven wide column">
				<div class="field">
					<label>{{.i18n.Tr "repo.metadata.metadata"}}</label>
					<textarea name="metadata">{{.metadata}}</textarea>
				</div>
			</div>
				<div class="ui container">
					<div class="ui divider"></div>
					<div class="ui text right">
						<div class="field">
							{{if .PageIsEditMetadata}}
								<a class="ui blue basic button" href="{{.RepoLink}}/metadatas">
									{{.i18n.Tr "repo.metadata.cancel"}}
								</a>
								<button class="ui green button">
									{{.i18n.Tr "repo.metadata.edit_metadata"}}
								</button>
								<a class="ui red button delete-button" data-url="{{$.RepoLink}}/metadata/delete" data-id="{{.ID}}">
									{{$.i18n.Tr "repo.metadta.delete_metadata"}}
								</a>
							{{else}}
								<button class="ui green button">
									{{.i18n.Tr "repo.metadata.create"}}
								</button>
							{{end}}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

{{if .PageIsEditMetadata}}
	<div class="ui small basic delete modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			{{.i18n.Tr "repo.metadata.deletion"}}
		</div>
		<div class="content">
			<p>{{.i18n.Tr "repo.metadata.deletion_desc"}}</p>
		</div>
		{{template "base/delete_modal_actions" .}}
	</div>
{{end}}
{{template "base/footer" .}}
