{{template "base/head" .}}
<div class="ui container center">
	<p style="margin-top: 100px"><img src="{{AppSubUrl}}/img/404.png" alt="404"/></p>
	<div class="ui divider"></div>
	<br>
	{{if .ShowFooterVersion}}<p>Application Version: {{AppVer}}</p>{{end}}
	<p>If you think this is an error, please open an issue by emailing <a href="mailto:help@door43.org">help@door43.org</a> or posting at <a href="https://team43.slack.com/messages/helpdesk" target="_blank">#helpdesk</a> on Slack.</p>
</div>
{{template "base/footer" .}}
