name: Deploy DCS to Docker

on:
  push:
    branches:
      - master
      - release/dcs/v*
    tags:
      - 'v*-dcs'

jobs:
  deploy-docker:
    name: Build & Deploy DCS to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: ${{ env.RELATIVE_GITEA_ROOT }}
          fetch-depth: 0
          lfs: true

      - name: Fetch tags
        shell: bash
        run: |
          git fetch --all
          git fetch --tags --force
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
        working-directory: ${{ env.GITEA_ROOT }}

      - name: Get Docker tags based on branch and branch tag
        shell: bash
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD)
          echo "BRANCH: ${BRANCH}"
          CLOSEST_TAG=$(git describe --abbrev=0)
          echo "CLOSEST_TAG: ${CLOSEST_TAG}"
          COMMIT_TAG=$(git describe)
          echo "COMMIT_TAG: ${COMMIT_TAG}"
          DOCKER_TAGS="${BRANCH//\//-}"
          if [[ "${BRANCH}" == "release/dcs/v"* ]]; then
            if [[ "${CLOSEST_TAG}" == "${COMMIT_TAG}" && "${COMMIT_TAG}" == "v"*"-dcs" ]]; then
              echo "BRANCH: ${BRANCH} (tagged release)"
              PATCH_VERSION=${COMMIT_TAG#v}
              MINOR_VERSION=`echo ${VERSION%-dcs} | cut -f1,2 -d'.'`-dcs
              MAJOR_VERSION=`echo ${MINOR_VERSION%-dcs} | cut -f1 -d'.'`-dcs
              DOCKER_TAGS="${DOCKER_TAGS},latest-prod,${MAJOR_VERSION}-dcs,${MINOR_VERSION}-dcs,${PATCH_VERSION}"
            else
              echo "BRANCH: ${BRANCH} (release in development)"
            fi
          elif [[ "${BRANCH}" == "master" ]]; then
            echo "BRANCH: master (development branch)"
            DOCKER_TAGS="${DOCKER_TAGS},latest,latest-dev"
          else
            echo "BRANCH: ${BRANCH} (other branch)"
          fi
          echo "DOCKER_TAGS: ${DOCKER_TAGS}"
          echo "::set-env name=DOCKER_TAGS::$DOCKER_TAGS"
        working-directory: ${{ env.GITEA_ROOT }}

      - name: Debug
        shell: bash
        run: |
          echo "GITHUB_REF:" ${GITHUB_REF}
          echo "BRANCH CHECKED OUT:" $(git rev-parse --abbrev-ref HEAD)
          echo "LATEST TAG:" $(git describe --abbrev=0)
          echo "DOCKER_TAGS:" ${{ env.DOCKER_TAGS }}
        working-directory: ${{ env.GITEA_ROOT }}

      - name: Publish DCS to Docker Hub
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: unfoldingword/dcs
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: ${{ env.GITEA_ROOT }}
          dockerfile: Dockerfile
          tags: ${{ env.DOCKER_TAGS }}
