<span id="dcs-info-icon" class="ui text grey" style="position: absolute; right: 90px; top: 10px; font-size: 1.2em;">
	<i class="ui fa fa-question-circle-o"></i>
</span>
<div id="dcs-info-icon-tooltip" style="display: none">
<pre style="text-align:left">Repository search is case insensitive.
Multiple phrases/fields can be searched by separating with a comma and a space.
The following fields can be used to search specific metadata:
	<em>subject:, lang:, book:, owner:, repo:</em>
	Example: <em>subject:obs study notes, lang:en,fr, Larry</em>
		Returns all "OBS Study Notes" entries that are in English & French
		with the keyword "Larry" (matches "contributor")
Wildcards: Use _ for any character
	Use % for any # of characters
	Use \_ and \% to search for literal _ and %</pre>
</div>
