<span id="search-info-icon" class="ui text grey"
  style="position: absolute; right: 90px; top: 10px; font-size: 1.2em;"
  data-html='<div style="text-align:left;">
<pre>
Repository search is case insensitive.
Multiple phrases/fields can be searched by separating with commas.
The following fields can be searched for a match (separate with a comma):
    subject:, lang:, book:, owner:, and repo:
    Example: subject:obs study notes, lang:en, Larry 
             (finds all "OBS Study Notes" repos that are in English with the Contributor "Larry")
Wildcards: Use _ for any character
           % for any # of characters
           Use \_ and \% to search for literal _ and %
</pre></div>' data-variation="wide">
  <i class="ui fa fa-question-circle-o"></i>
</span>

<script src="{{StaticUrlPrefix}}/js/jquery.js?v={{MD5 AppVer}}"></script>
<script>
  $(document).ready(function() {
    $('#search-info-icon').popup();
  });
</script>
