<div class="flex-list">
	{{range .Repos}}
		<div class="flex-item">
			<div class="flex-item-leading">
				{{template "repo/icon" .}}
			</div>
			<div class="flex-item-main">
				<div class="flex-item-header">
					<div class="flex-item-title">
						<a class="text primary name" href="{{.Link}}">
							{{if or $.PageIsExplore $.PageIsProfileStarList}}{{if .Owner}}{{.Owner.Name}} / {{end}}{{end}}{{.Name}}
						</a>
						<span class="label-list">
							{{if .IsArchived}}
								<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.archived"}}</span>
							{{end}}
							{{if .IsPrivate}}
								<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.private"}}</span>
							{{else}}
								{{if .Owner.Visibility.IsPrivate}}
									<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.internal"}}</span>
								{{end}}
							{{end}}
							{{if .IsTemplate}}
								<span class="ui basic label">{{ctx.Locale.Tr "repo.desc.template"}}</span>
							{{end}}
						</span>
						<!-- DCS Customizations -->
						{{if .LatestProdDM}}
							<a href="{{.Link}}/releases/tag/{{.LatestProdDM.Ref | PathEscapeSegments}}" rel="nofollow">
								<button class="ui green label compact icon button tooltip" data-content="Catalog: Production" aria-label="Catalog: Production">
									{{.LatestProdDM.Ref}}
								</button>
							</a>
						{{end}}
						{{if .LatestPreprodDM}}
							<a href="{{.Link}}/releases/tag/{{.LatestPreprodDM.Ref | PathEscapeSegments}}" rel="nofollow">
								<button class="ui orange label compact icon button tooltip" data-content="Catalog: Pre-Production" aria-label="Catalog: Production">
									{{.LatestPreprodDM.Ref}}
								</button>
							</a>
						{{end}}
						<!-- END DCS Customizations -->
					</div>
					<div class="flex-item-trailing">
						<!-- DCS Customizations -->
						{{if .RepoDM.Language}}
							<a class="muted" href="{{$.Link}}?sort={{$.SortType}}&q=lang%3A{{.RepoDM.Language}}" data-tooltip-content="{{.RepoDM.LanguageTitle}} ({{.RepoDM.Language}}, {{.RepoDM.LanguageDirection}})">
								<span class="gt-df gt-ac gt-mr-3"><i class="color-icon gt-mr-3" style="background-color: {{GetColorFromString .RepoDM.Language}}"></i>{{.RepoDM.Language}}</span>
							</a>
						{{end}}
						{{if .RepoDM.Subject}}
							<a class="muted" href="{{$.Link}}?sort={{$.SortType}}&q=subject%3A{{.RepoDM.Subject}}" data-tooltip-content="Abbreviation: {{.RepoDM.Abbreviation}}">
								<span class="gt-df gt-ac gt-mr-3"><i class="color-icon gt-mr-3" style="background-color: {{GetColorFromString .RepoDM.Subject}}"></i>{{.RepoDM.Subject}}</span>
							</a>
						{{end}}
						{{if and .RepoDM.MetadataType .MetadataVersion}}
						<a class="muted" href="?sort={{$.SortType}}&q=metadata_type%3A{{.MetadataType}}" data-tooltip-content="{{ctx.Locale.Tr "repo.metadata.metadata_type"}}: {{.MetadataTypeTitle}} ({{.MetadataType}} {{.MetadataVersion}})">
							<img src="{{AssetUrlPrefix}}/img/dcs/{{.MetadataTypeIcon}}" style="height:16px;vertical-align:middle" />
								{{.MetadataType}} {{.MetadataVersion}}
						</a>
						{{end}}
						<!-- END DCS Customizations -->
						{{if not $.DisableStars}}
							<a class="text grey flex-text-inline" href="{{.Link}}/stars">{{svg "octicon-star" 16}}{{.NumStars}}</a>
						{{end}}
						<a class="text grey flex-text-inline" href="{{.Link}}/forks">{{svg "octicon-git-branch" 16}}{{.NumForks}}</a>
					</div>
				</div>
				{{$description := .DescriptionHTML $.Context}}
				{{if $description}}
					<div class="flex-item-body">{{$description}}</div>
				{{end}}
				{{if .Topics}}
					<div class="label-list">
					{{range .Topics}}
						{{if ne . ""}}<a class="ui label" href="{{AppSubUrl}}/explore/repos?q={{.}}&topic=1">{{.}}</a>{{end}}
					{{end}}
					</div>
				{{end}}
				<div class="flex-item-body">{{ctx.Locale.Tr "org.repo_updated"}} {{TimeSinceUnix .UpdatedUnix ctx.Locale}}</div>
			</div>
		</div>
	{{else}}
	<div>
		{{ctx.Locale.Tr "explore.repo_no_results"}}
	</div>
	{{end}}
</div>
