<form class="ui form">
	<div class="ui fluid action input">
	  <input name="q" value="{{.Keyword}}" placeholder="{{.i18n.Tr "explore.search"}}..." autofocus>
	  <button class="ui blue button">{{.i18n.Tr "explore.search"}}</button><i class="fa fa-question-circle-o" title="_ for any character, % for any # of characters. Use \_ and \% to search for _ and %" style="margin-top:5px;margin-left:5px;font-size:2em;"></i>
	</div>
</form>
<div class="ui divider"></div>
