<div class="ui repository list">
	{{range .Door43Metadatas}}
	<div class="item">
		<div class="ui header tx-flex tw-items-center">
			<div class="publisher-title">
				<a class="name" href="#">
					{{.Language}}
				</a>
			</div>
		</div>
	</div>
	{{else}}
	<div>
		{{ctx.Locale.Tr "search.no_results"}}
	</div>
	{{end}}
</div>
