<div class="ui repository list">
	{{range .Door43Metadatas}}
		<div class="item">
			<div class="ui header">
				{{if .Repo.RelAvatarLink}}
					<img class="ui avatar image" src="{{.Repo.RelAvatarLink}}">
				{{end}}
				<a class="name" href="{{.Repo.Link}}/releases/tag/{{.Release.TagName | EscapePound}}">
					{{.Metadata.DublinCore.Title}}
				</a>
				{{if .Repo.IsFork}}
					<span class="middle">{{svg "octicon-repo-forked" 16}}</span>
				{{else if .Repo.IsMirror}}
					<span class="middle">{{svg "octicon-repo-clone" 16}}</span>
				{{end}}
				<span class="ui green label" title="Catalog: Production">{{.Release.TagName}}</span>
				<div class="ui right metas">
					<span class="text grey">{{svg "octicon-star" 16}} {{.Repo.NumStars}}</span>
					<span class="text grey">{{svg "octicon-git-branch" 16}} {{.Repo.NumForks}}</span>
					<span class="text grey">{{svg "octicon-tag" 16}} {{.Repo.GetProdCatalogReleaseCount}}</span>
				</div>
			</div>
			<div class="description">
				<p>{{.Metadata.DublinCore.Subject}}</p>
				{{if .Repo.Topics }}
					<div class="ui tags">
					{{range .Repo.Topics}}
						{{if ne . "" }}<a href="{{AppSubUrl}}/catalog?q={{.}}&topic=1"><div class="ui small label topic">{{.}}</div></a>{{end}}
					{{end}}
					</div>
				{{end}}
				<p class="time">{{$.i18n.Tr "explore.released"}}: {{.Release.CreatedUnix.Format "2006-01-02"}}</p>
				<p class="time">{{$.i18n.Tr "explore.language"}}: {{.Metadata.DublinCore.Language.Title}} ({{.Metadata.DublinCore.Language.Identifier}})</p>
			</div>
		</div>
	{{else}}
	<div>
		{{$.i18n.Tr "explore.repo_no_results"}}
	</div>
	{{end}}
</div>
