{{template "base/head" .}}
<div class="explore repositories catalog">
	<div class="ui container">
		{{template "catalog/catalog_search" .}}
		{{template "catalog/catalog_list" .}}
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
