<div class="ui repository list">
	{{range .Door43Metadatas}}
	<div class="item">
		<div class="ui header gt-df gt-ac">
			<div class="repo-title">
			{{$avatar := (repoAvatar .Repo 32 "gt-mr-3")}}
			{{if $avatar}}
				{{$avatar}}
			{{end}}
			{{if .Release}}
				<a class="name" href="{{.Repo.Link}}/releases/tag/{{.Ref | PathEscapeSegments}}">
			{{else}}
				<a class="name" href="{{.Repo.Link}}/src/branch/{{.Repo.DefaultBranch | PathEscapeSegments}}">
			{{end}}
					{{.Title}}
				</a>
				{{if .Repo.IsFork}}
					<span class="middle">{{svg "octicon-repo-forked" 16}}</span>
				{{else if .Repo.IsMirror}}
					<span class="middle">{{svg "octicon-repo-clone" 16}}</span>
				{{end}}
				{{if .Release}}
					{{$color := "green"}}
					{{$type := "Production"}}
					{{if .Release.IsPrerelease}}
						{{$color = "orange"}}
						{{$type = "Pre-Release"}}
					{{end}}
					<a class="catalog-badge" href="{{.Release.HTMLURL}}" rel="nofollow" style="opacity: inherit !important; margin: 0">
						<button class="ui {{$color}} label compact icon button tooltip" data-content="Catalog: {{$type}}" aria-label="Catalog: {{$type}}">
							{{.Ref}}
						</button>
					</a>
				{{end}}
			</div>
			<div class="gt-font-13 gt-df gt-ac text grey">
				<div class="gt-font-13 gt-df gt-ac text grey">
					<a class="muted" href="{{$.Link}}?sort={{$.SortType}}&q=lang%3A{{.Language}}">
						<span class="gt-df gt-ac gt-mr-3"><i class="color-icon gt-mr-3" style="background-color: {{GetColorFromString .Language}}"></i>{{.Language}}</span>
					</a>
					<a class="muted" href="{{$.Link}}?sort={{$.SortType}}&q=subject%3A{{.Subject}}">
						<span class="gt-df gt-ac gt-mr-3"><i class="color-icon gt-mr-3" style="background-color: {{GetColorFromString .Subject}}"></i>{{.Subject}}</span>
					</a>
					{{if not $.DisableStars}}
						<a class="text grey gt-df gt-ac gt-mr-3" href="{{.Repo.Link}}/stars">{{svg "octicon-star" 16 "gt-mr-3"}}{{.Repo.NumStars}}</a>
					{{end}}
					<a class="text grey gt-df gt-ac gt-mr-3" href="{{.Repo.Link}}/forks">{{svg "octicon-git-branch" 16 "gt-mr-3"}}{{.Repo.NumForks}}</a>
					<a class="text grey gt-df gt-ac gt-mr-3" href="{{.Repo.Link}}/releases" title="# of releases">{{svg "octicon-tag" 16 "gt-mr-3"}} {{.GetReleaseCount}}</a>
				</div>
			</div>
		</div>
		<div class="description">
			<table>
				<tr>
					<td><strong>{{if .Release}}{{$ctx.Locale.Tr "repo.metadata.publisher"}}{{else}}{{$ctx.Locale.Tr "repo.metadata.provider"}}{{end}}:</strong></td>
					<td><a href="?sort={{$.SortType}}&q=owner%3A{{.Repo.OwnerName}}">{{.Repo.OwnerName}}</a></td>
				<tr>
					<td><strong>{{$ctx.Locale.Tr "repo.metadata.subject"}}:</strong></td>
					<td><a href="?sort={{$.SortType}}&q=subject%3A{{.Subject}}">{{.Subject}}</a></td>
				</tr>
				<tr>
					<td><strong>{{$ctx.Locale.Tr "repo.metadata.resource"}}:</strong></td>
					<td><a href="?sort={{$.SortType}}&q=resource%3A{{.Resource}}">{{.Resource}}</a></td>
				</tr>
				<tr>
					<td><strong>{{$ctx.Locale.Tr "repo.metadata.metadata_type"}}:</strong></td>
					<td>
						<img src="{{AssetUrlPrefix}}/img/dcs/{{.GetMetadataTypeIcon}}" style="height:16px;vertical-align:middle" /> 
						<a href="?sort={{$.SortType}}&q=metadata_type%3A{{.MetadataType}}">
						{{.GetMetadataTypeTitle}} ({{.MetadataType}} {{.MetadataVersion}})
						</a>
					</td>
				</tr>
				<tr>
					<td><strong>{{$ctx.Locale.Tr "repo.metadata.language"}}:</strong></td>
					<td><a href="?sort={{$.SortType}}&q=lang%3A{{.Language}}">{{.LanguageTitle}} ({{.Language}}, {{.LanguageDirection}})</a></td>
				</tr>
				<tr>
					<td><strong>{{ctx.Locale.Tr "repo.metadata.stage"}}:</strong></td>
					<td>{{.StageStr}}</td>
				</tr>
				<tr>
					<td><strong>{{ctx.Locale.Tr "repo.metadata.ingredients"}}:</strong></td>
					<td>
						{{range .Ingredients}}
							<a href="?sort={{$.SortType}}&q=book%3A{{.Identifier}}">{{.Identifier}}</a>
						{{end}}
					</td>
				</tr>
				<tr>
					<td><strong>{{if .Release}}{{ctx.Locale.Tr "repo.metadata.release_date"}}{{else}}{{ctx.Locale.Tr "repo.metadata.last_updated"}}{{end}}:</strong></td>
					<td>{{DateTime "full" .ReleaseDateUnix.AsTime}}</td>
				</tr>
			</table>
		</div>
	</div>
	{{else}}
	<div>
		{{ctx.Locale.Tr "explore.repo_no_results"}}
	</div>
	{{end}}
</div>
