<div class="ui small secondary filter menu">
	<form id="repo-search-form" class="ui form ignore-dirty tw-flex-1 tw-flex tw-gap-x-2">
		{{if .Language}}<input type="hidden" name="language" value="{{.Language}}">{{end}}
		{{if .PageIsCatalog}}<input type="hidden" name="only_show_relevant" value="{{.OnlyShowRelevant}}">{{end}}
		{{if .TabName}}<input type="hidden" name="tab" value="{{.TabName}}">{{end}}
		{{if .TopicOnly}}<input type="hidden" name="topic" value="{{.TopicOnly}}">{{end}}
		<div class="ui small fluid action input tw-flex-1">
			{{template "shared/search/input" dict "Value" .Keyword "Placeholder" (ctx.Locale.Tr "dcs.search.catalog_kind")}}
			{{template "shared/search/button"}}
		</div>
		<!-- Sort -->
		<div class="item ui small dropdown jump">
			<span class="text">{{ctx.Locale.Tr "repo.issues.filter_sort"}}</span>
			{{svg "octicon-triangle-down" 14 "dropdown icon"}}
			<div class="menu">
				<label class="{{if eq .SortType "newest"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "newest"}}checked{{end}} value="newest"> {{ctx.Locale.Tr "repo.issues.filter_sort.latest"}}</label>
				<label class="{{if eq .SortType "oldest"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "oldest"}}checked{{end}} value="oldest"> {{ctx.Locale.Tr "repo.issues.filter_sort.oldest"}}</label>
				<label class="{{if eq .SortType "alphabetically"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "alphabetically"}}checked{{end}} value="alphabetically"> {{ctx.Locale.Tr "repo.issues.label.filter_sort.alphabetically"}}</label>
				<label class="{{if eq .SortType "reversealphabetically"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversealphabetically"}}checked{{end}} value="reversealphabetically"> {{ctx.Locale.Tr "repo.issues.label.filter_sort.reverse_alphabetically"}}</label>
				<label class="{{if eq .SortType "recentupdate"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "recentupdate"}}checked{{end}} value="recentupdate"> {{ctx.Locale.Tr "repo.issues.filter_sort.recentupdate"}}</label>
				<label class="{{if eq .SortType "leastupdate"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "leastupdate"}}checked{{end}} value="leastupdate"> {{ctx.Locale.Tr "repo.issues.filter_sort.leastupdate"}}</label>
				{{if not .DisableStars}}
					<label class="{{if eq .SortType "moststars"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "moststars"}}checked{{end}} value="moststars"> {{ctx.Locale.Tr "repo.issues.filter_sort.moststars"}}</label>
					<label class="{{if eq .SortType "feweststars"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "feweststars"}}checked{{end}} value="feweststars"> {{ctx.Locale.Tr "repo.issues.filter_sort.feweststars"}}</label>
				{{end}}
				<label class="{{if eq .SortType "mostforks"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "mostforks"}}checked{{end}} value="mostforks"> {{ctx.Locale.Tr "repo.issues.filter_sort.mostforks"}}</label>
				<label class="{{if eq .SortType "fewestforks"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "fewestforks"}}checked{{end}} value="fewestforks"> {{ctx.Locale.Tr "repo.issues.filter_sort.fewestforks"}}</label>
				<label class="{{if eq .SortType "size"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "size"}}checked{{end}} value="size"> {{ctx.Locale.Tr "repo.issues.label.filter_sort.by_size"}}</label>
				<label class="{{if eq .SortType "reversesize"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversesize"}}checked{{end}} value="reversesize"> {{ctx.Locale.Tr "repo.issues.label.filter_sort.reverse_by_size"}}</label>
				<label class="{{if eq .SortType "title"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "title"}}checked{{end}} value="title"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.title"}}</label>
				<label class="{{if eq .SortType "reversetitle"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversetitle"}}checked{{end}} value="reversetitle"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_title"}}</label>
				<label class="{{if eq .SortType "subject"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "subject"}}checked{{end}} value="subject"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.subject"}}</label>
				<label class="{{if eq .SortType "reversesubject"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversesubject"}}checked{{end}} value="reversesubject"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_subject"}}</label>
				<label class="{{if eq .SortType "identifier"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "identifier"}}checked{{end}} value="identifier"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.abbreviation"}}</label>
				<label class="{{if eq .SortType "reverseidentifier"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reverseidentifier"}}checked{{end}} value="reverseidentifier"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_abbreviation"}}</label>
				<label class="{{if eq .SortType "reponame"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reponame"}}checked{{end}} value="reponame"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reponame"}}</label>
				<label class="{{if eq .SortType "reversereponame"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversereponame"}}checked{{end}} value="reversereponame"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_reponame"}}</label>
				<label class="{{if eq .SortType "tag"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "tag"}}checked{{end}} value="tag"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.tag"}}</label>
				<label class="{{if eq .SortType "reversetag"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reversetag"}}checked{{end}} value="reversetag"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_tag"}}</label>
				<label class="{{if eq .SortType "langcode"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "langcode"}}checked{{end}} value="langcode"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.langcode"}}</label>
				<label class="{{if eq .SortType "reverselangcode"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "reverselangcode"}}checked{{end}} value="reverselangcode"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.reverse_langcode"}}</label>
				<label class="{{if eq .SortType "mostreleases"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "mostreleases"}}checked{{end}} value="mostreleases"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.mostreleases"}}</label>
				<label class="{{if eq .SortType "fewestreleases"}}active {{end}}item"><input hidden type="radio" name="sort" {{if eq .SortType "fewestreleases"}}checked{{end}} value="fewestreleases"> {{ctx.Locale.Tr "dcs.repo.metadata.label.filter_sort.fewestreleases"}}</label>
			</div>
		</div>
	</form>
</div>
{{if and .PageIsCatalog .OnlyShowRelevant}}
	<div class="ui message">
		<span data-tooltip-content="{{ctx.Locale.Tr "explore.relevant_repositories_tooltip"}}">
			{{ctx.Locale.Tr "explore.relevant_repositories" (printf "?only_show_relevant=0&sort=%s&q=%s&language=%s" $.SortType (QueryEscape $.Keyword) (QueryEscape $.Language))}}
		</span>
	</div>
{{end}}
{{template "shared/searchbuilder" dict "IsCatalogSearch" false}}
<div class="divider"></div>
