{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content explore repositories catalog" style="padding-top: 15px;">
	{{template "catalog/navbar" .}}
	<div class="ui container">
		{{template "catalog/catalog_search" .}}
		{{template "catalog/catalog_language_list" .}}
		{{template "base/paginate" .}}
	</div>
</div>
{{template "base/footer" .}}
